@import url("reset.css");

body {
    background-image: url('../images/background.png');
    background-repeat: repeat;
    background-position: top right;
    background-attachment: fixed;
    background-color: #f1f1f1;
    font-family: Georgia, "Bitstream Charter", serif;
    color: #666;
    font-size: 12px;
    line-height: 18px;
}

#banner, #menu, #content, #contentinfo {
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    width: 940px;
    background: #fff;
}

#menu ul {
    background: #000;
}

#menu li {
    display: inline;
}

#menu li a {
    color: #aaa;
    line-height: 38px;
    padding: 0 10px;
    text-decoration: none;
}

#menu li a:active {
    color: #fff;
}

#content {
    padding: 20px;
color: #333;
font-size: 16px;
line-height: 24px;
}

#content p {
margin-bottom: 24px;
}

#contentinfo {
    margin-bottom: 24px;
    padding: 20px;
}

#banner {
    margin-top: 20px;
    padding: 30px 20px 0 20px;
    position: relative;
}

#menu {
    color: #666;
    font-size: 12px;
    line-height: 18px;
}

#site-title {
    float: left;
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 18px 0;
    width: 700px;
}

#site-title, #menu, h1, h2, h3, h4, h5, h6, #site-info {
    font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

#site-title a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

#site-description {
    clear: right;
    float: right;
    font-style: italic;
    margin: 15px 0 18px 0;
    width: 220px;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

header img {
    -webkit-transition: opacity 5s ease-in-out;
    -moz-transition: opacity 5s ease-in-out;
    -o-transition: opacity 5s ease-in-out;
    transition: opacity 5s ease-in-out;
    opacity: 0;
    border-top: 4px solid #000;
    border-bottom: 1px solid #000;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 940px;
    height: 180px;
}

header img.header_active {
    opacity: 1;
}

#header-image {
  width: 940px;
  height: 180px;
  position: relative;
  clear: both;
}

#contentinfo {
    border-top: 4px solid #000;
    margin-top: -4px;
    overflow: hidden;
}

#site-info {
    color: #000;
    float: left;
    font-size: 14px;
    font-weight: bold;
    width: 560px;
}
#site-info a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

footer address {
    font-style: italic;
    position: relative;
    float: right;
    width: 360px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-weight: bold;
    color: #000;
}

h1 {
    font-size: 21px;
    line-height: 1.3em;
}
h2 {
    font-size: 18px;
    line-height: 1.3em;
}
h3 {
    font-size: 16px;
    line-height: 1.3em;
}
h4 {
    font-size: 14px;
    line-height: 1.3em;
}

h1 a {
   text-decoration: none;
   color: #000;
}

.entry-meta {
color: #777;
font-size: 12px;
}

.entry-meta a {
color: #777;
font-size: 12px;
text-decoration: none;
}
